.arrowIcon {
  max-width: 18px;
  max-height: 18px;
}

body {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 32px;
}

button {
  padding: 14px 25px;
  border: none;
}

button.primary {
  background-color: #f2f0df;
  border-radius: 19px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
}

button.secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  gap: 4px;
  background-color: unset;
  border-radius: 19px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 34px;
}

.floating-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 19px;
  margin-top: 34px;
  background-color: white;
  filter: drop-shadow(15px 9px 30px #a0a0a050);
}

.floating-banner > .info {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

.floating-banner > .price {
  font-family: "Poppins";
  font-size: 33px;
  font-weight: 300;
  width: fit-content;
}

h1 {
  font-family: "Playfair Display";
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 20px 0px;
}

.hamburger {
  display: none;
}

.hero {
  display: flex;
  flex-direction: row;
  padding: 100px 0px;
  gap: 100px;
}

.hero > div:first-child {
  width: 100%;
}

.hero > div.hero-images {
  width: 100%;
}

.hero-images {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

.hero-images > div {
  border-radius: 19px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 16px;
}

.hero-images > div:nth-child(1) {
  grid-row: span 2 / span 2;
}

.hero-images > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 9px 16px;
  border-radius: 10px;
}

.hero-images > div > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #e4e4e4;
  width: 100%;
}

.hero-images > div > div > div > div:nth-child(1) {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
}

.hero-images > div > div > div > div:nth-child(2) {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.hero-images > div > div > div:nth-child(2) {
  height: max-content;
  text-align: center;
  padding: 0px 0px 0px 16px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

.menu > .active::after {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  background-color: black;
}

.menu > div {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
}

.separator {
  border-left: 2px solid #e4e4e4;
  height: 100px;
}

@media (max-width: 1070px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .hero-images > div {
    min-height: 200px;
  }

  .cta {
    width: fit-content;
    margin: auto;
  }

  .floating-banner {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .hamburger {
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
  }
  .description,
  h1 {
    text-align: center;
  }

  .menu {
    display: none;
  }

  .hero {
    padding: 20px 0px;
  }

  .hero-images {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .hero-images > div:nth-child(1) {
    grid-row: unset;
  }

  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
