body {
  margin: 0;
}

button {
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 20px 40px;
  border-radius: 56px;
  border: none;
}

button.next {
  background-color: #4a3aff;
  color: white;
}

button.next.submit {
  margin-left: auto;
  margin-right: auto;
}

button.prev {
  background-color: white;
  color: #4a3aff;
  border: 1px solid #4a3aff;
}

.error {
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #962dff;
}

.finalSection {
  margin-top: 64px;
}

.form {
  background-color: white;
  border: 1px solid #eff0f6;
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
  padding: 40px 46px 80px;
  border-radius: 34px;
}

div.grids {
  display: grid;
  gap: 44px 28px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

h1 {
  font-family: "DM Sans";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #170f49;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header > p {
  text-align: center;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

input {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 20px;
  border: 1px solid #eff0f6;
  border-radius: 46px;
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
  background-position: center right 25px;
  background-color: white;
  background-repeat: no-repeat;
}

input.errorInput {
  border: 1px solid #962dff;
}

input:focus {
  outline: 2px solid #4a3aff;
}

input::placeholder {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #6f6c90;
}

.input > svg {
  max-width: 20px;
}

.inputComponent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.inputLabel.errorLabel {
  color: #962dff;
}

.inputLabel,
.radioLabel {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #170f49;
}

main {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.navButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p,
.sectionTitle > .description {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #6f6c90;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.pushRight {
  margin-left: auto;
}

.radio {
  margin: 0px;
  display: none;
}

.radio:checked + .radioLabel {
  border: 2px solid #4a3aff;
  box-shadow: 0px 4px 10px 0px rgba(31, 37, 89, 0.07),
    0px 2px 11px 0px rgba(69, 65, 164, 0.06);
}

.radio:checked + .radioLabel > .radioDefaultIcon {
  border: 8px solid #4a3aff;
  box-shadow: none;
}

.radioDefaultIcon {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 100%;
  border: 1.2px solid #d9dbe9;
  box-shadow: 0px -3px 7px 0px rgba(20, 20, 43, 0.08) inset;
}

.radioLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  border: 2px solid #eff0f6;
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 64px;
  margin-bottom: 40px;
}

.sectionTitle.final {
  margin-top: 40px;
}

.sectionTitle.final > div {
  text-align: center;
  max-width: 494px;
  margin-left: auto;
  margin-right: auto;
}

.sectionTitle > .title {
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  color: #170f49;
}

.statusBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 30px;
  border-bottom: 1px solid #eff0f6;
}

.statusBar > .number {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  color: #6f6c90;
  background-color: #eff0f6;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 100%;
}

.statusBar > .number.activeNumber {
  background-color: #4a3aff;
  color: white;
}

.statusBar > .bars {
  display: flex;
  flex-direction: row;
  border-radius: 40px;
  width: 98px;
  box-sizing: content-box;
  height: 6px;
  background-color: #eff0f6;
  border: 1px solid #eff0f6;
}

.statusBar > .bars > .activeBars {
  border-radius: 40px;
  box-sizing: content-box;
  height: 6px;
  background-color: #4a3aff;
}

.statusBar > .bars > .activeBars.half {
  width: 49px;
}

.statusBar > .bars > .activeBars.fill {
  width: 98px;
}

.submit {
  display: flex;
}

.submit > img {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 680px) {
  .statusBar {
    padding-left: 0px;
    padding-right: 0px;
  }

  .statusBar > .bars {
    display: none;
  }

  div.grids {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .navButton {
    flex-direction: column;
    gap: 20px;
  }

  .radioLabel > img {
    max-width: 40px;
  }
}
